
{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    No title
  {% endif %}
{% endblock%}

  
</head>

{% block content %}
<p class = "text-center m-5 fs-1">Akademics</p>





<div class="tables m-5">
      {% for year in years %}

        <div class = "table border border-dark p-2" id ="">
        <p class="text-center fs-2">Year {{year}}</p>

        <table class = "table">
          <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Credit hr.</th>
            <th>Prerequisite</th>
          </tr>

          {% for course in courses  if course.year == year%}

            <tr>
              <td>{{ course.course_name }}</td>
              <td>{{ course.course_code }}</td>
              <td>{{ course.credit_hour }}</td>
              <td>{{ course.pre_requisite }}</td>
            </tr>

          {% endfor%}

          
         </table>

        </div>
      {% endfor%}
</div>



{% endblock %}